.image{
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes move {
    0%{
        transform: scaleX(1.1);
    }
}

/* dowm arrow */

.down-arrow{
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes arrow {
    0%{
        transform: translateY(-20%);
    }
}

/* nav bar */
.nav{
    animation-name: anime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.hero{
    animation-name: hero;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes hero{
 0%{
    transform: scale(0);
 }
 100%{
    transform: scale(1);
 }
}